{% extends 'Base.html' %}
{% block content %}
<title>Event Registration</title>

<style>
        {% load static %}
        .content{
            background-image: url("{% static 'images/EventRegistration.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
        }
</style>

<script type="text/javascript">
        function validateEName()
        {
            var EName = document.f1.EName;
            var pattern = /^[A-Za-z]+([0-9]+)*$/;
            if(EName.value.match(pattern))
                return true;
            else
            {
                document.getElementById("ENameErr").innerHTML="Event name is not valid";
                return false;
            }
        }

        function validateLocation()
        {
            var Location = document.f1.Location;
            var pattern = /^[A-Za-z]+$/;
            if(Location.value.match(pattern))
                return true;
            else
            {
                document.getElementById("LocationErr").innerHTML="Location is not valid";
                return false;
            }
        }

        function validateDates()
        {
            var From = document.f1.From;
            var To = document.f1.To;
            var Deadline = document.f1.Deadline;
            var current  = new Date();
            var selectedDeadline = new Date(Deadline.value);

            if(current < selectedDeadline)
            {
                if(Deadline.value < From.value)
                {
                    if(From.value < To.value)
                    {
                        return true;
                    }
                    else
                    {
                        alert("To Date should be not less than To Date");
                        document.getElementById("DeadlineErr").innerHTML="";
                        document.getElementById("FromErr").innerHTML="";
                        document.getElementById("ToErr").innerHTML="Please enter correct To Date";
                        To.focus();
                        return false;
                    }
                }
                else
                {
                    alert("From Date should be not less than Registration Date");
                    document.getElementById("ToErr").innerHTML="";
                    document.getElementById("DeadlineErr").innerHTML="";
                    document.getElementById("FromErr").innerHTML="Please enter correct From Date";
                    From.focus();
                    return false;
                }
            }
            else
            {
                alert("Deadline Date should be not less than today");
                document.getElementById("FromErr").innerHTML="";
                document.getElementById("ToErr").innerHTML="";
                document.getElementById("DeadlineErr").innerHTML="Please enter correct Deadline Date";
                Deadline.focus();
                return false;
            }
        }

        function validateEmail()
        {
            var Email = document.f1.Email;
            var pattern = /^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
            if(Email.value.match(pattern))
                return true;
            else
            {
                document.getElementById("EmailErr").innerHTML="Email is not correct";
                return false;
            }
        }

        function validatePass()
        {
            var hpass = document.f1.hpass;
            var pattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})/;
            if(hpass.value.match(pattern))
                return true;
            else
            {
                alert("Password must contain one lowercase,one uppercase, one digit and more than 7 character")
                document.getElementById("hpassErr").innerHTML="Please Enter Strong Password";
                return false;
            }
        }

        function validateCPass()
        {
            var hpass = document.f1.hpass;
            var Cpass = document.f1.Cpass;
            if(hpass.value.match(Cpass.value))
                return true;
            else
            {
                document.getElementById("CpassErr").innerHTML="Password must match";
                return false;
            }
        }

        function validate()
        {
            var EName = document.f1.EName;
            var Poster = document.f1.Poster;
            var Desc = document.f1.Desc;
            var Location = document.f1.Location;
            var From = document.f1.From;
            var To = document.f1.To;
            var Deadline = document.f1.Deadline;
            var Email = document.f1.Email;
            var hpass = document.f1.hpass;
            var Cpass = document.f1.Cpass;

            if(EName.value == "")
            {
                EName.focus();
                return false;
            }
            else
            {
                if(!validateEName())
                {
                    EName.focus();
                    return false;
                }
            }

            if(Poster.value == "")
            {
                Poster.focus();
                return false;
            }

            if(Desc.value == "")
            {
                Desc.focus();
                return false;
            }

            if(Location.value == "")
            {
                Location.focus();
                return false;
            }
            else
            {
                if(!validateLocation())
                {
                    Location.focus();
                    return false;
                }
            }

            if(From.value == "")
            {
                From.focus();
                return false;
            }
            if(To.value == "")
            {
                To.focus();
                return false;
            }
            if(Deadline.value == "")
            {
                Deadline.focus();
                return false;
            }
            else
            {
                if(!validateDates())
                {
                    return false;
                }
            }

            if(Email.value == "")
            {
                Email.focus();
                return false;
            }
            else
            {
                if(!validateEmail())
                {
                    Email.focus();
                    return false;
                }
            }

            if(hpass.value == "")
            {
                hpass.focus();
                return false;
            }
            else
            {
                if(!validatePass())
                {
                    hpass.focus();
                    return false;
                }
            }

            if(Cpass.value == "")
            {
                Cpass.focus();
                return false;
            }
            else
            {
                if(!validateCPass())
                {
                    Cpass.focus();
                    return false;
                }
            }
            alert("Event Registration Successful");
            return true;
        }
</script>
<div class="header">
    <a href="/Home" class="logo">Event Manager</a>
    <div class="header-right">
        <a href="/Home">Home</a>
        <a class="active" href="/Events/EventReg">Event Registration</a>
        <a href="/Events/ParticipantReg">Participant Registration</a>
        <a href="/Events/EventDashboard">EventDashBoard</a>
    </div>
</div>
<div class="content">
    <div class="Form">
    <h1>Event Registration</h1>
    <hr/><br/>
    <form method="post" name="f1" onsubmit="return(validate());" action="/Events/EventReg/" enctype="multipart/form-data">{% csrf_token %}
        <table cellpadding="5" cellspacing="5">
            <tr>
                <td>
                    <label>Event Name:</label>
                </td>
                <td></td>
                <td>
                    <input type="text" name="EName" placeholder="Event">
                    <p id="ENameErr" style="color: red; font-size: small;"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Event Poster:</label>
                </td>
                <td></td>
                <td>
                    <input type="file" name="Poster">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Description:</label>
                </td>
                <td></td>
                <td>
                    <textarea placeholder="Event Desc." name="Desc" rows="4"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Location:</label>
                </td>
                <td></td>
                <td>
                    <input type="text" name="Location" placeholder="Location">
                    <p id="LocationErr" style="color: red; font-size: small;"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <label>From:</label>
                </td>
                <td></td>
                <td>
                    <input type="datetime-local" name="From">
                    <p id="FromErr" style="color: red; font-size: small;"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <label>To:</label>
                </td>
                <td></td>
                <td>
                    <input type="datetime-local" name="To">
                    <p id="ToErr" style="color: red; font-size: small;"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Registration Deadline:</label>
                </td>
                <td></td>
                <td>
                    <input type="datetime-local" name="Deadline">
                    <p id="DeadlineErr" style="color: red; font-size: small;"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <label>E-mail:</label>
                </td>
                <td></td>
                <td>
                    <input type="text" placeholder="abc@gmail.com" name="Email">
                    <p id="EmailErr" style="color: red; font-size: small;"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Password:</label>
                </td>
                <td></td>
                <td>
                    <input type="password" placeholder="password" name="hpass">
                    <p id="hpassErr" style="color: red; font-size: small;"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Confirm Password:</label>
                </td>
                <td></td>
                <td>
                    <input type="password" placeholder="password" name="Cpass">
                    <p id="CpassErr" style="color: red; font-size: small;"></p>
                </td>
            </tr>
        </table>
        <input type="submit" name="Submit" value="submit">
    </form>
    </div>
</div>
{% endblock %}