{% extends 'Base.html' %}
{% block content %}
<title>Event Dashboard</title>

<style>
    {% load static %}
    .content{
            background-image: url("{% static 'images/EventDashboard.png' %}");
            background-repeat: no-repeat;
            background-size: cover;
        }
</style>

<script type="text/javascript">
    function validate()
    {
        var EventID = document.f1.EventID;
        var pass = document.f1.pass;
        if(EventID.value == "")
        {
            EventID.focus();
            return false;
        }
        if(pass.value == "")
        {
            pass.focus();
            return false;
        }
        return true;
    }
</script>
<div class="header">
    <a href="/Home" class="logo">Event Manager</a>
    <div class="header-right">
        <a href="/Home">Home</a>
        <a href="/Events/EventReg">Event Registration</a>
        <a href="/Events/ParticipantReg">Participant Registration</a>
        <a class="active" href="/Events/EventDashboard">EventDashBoard</a>
    </div>
</div>
<div class="content">
    <div class="Form">
        <h1>Event Dashboard</h1>
        <hr/><br/>
        <form method="post" name="f1" action="/Events/EventDashboard/" onsubmit="return(validate());" enctype="multipart/form-data">{% csrf_token %}
        <table cellpadding="5" cellspacing="5">
            <tr>
                <td>
                    <label>Event-ID:</label>
                </td>
                <td></td>
                <td><input type="text" name="EventID"></td>
            </tr>
            <tr>
                <td>
                    <label>Password:</label>
                </td>
                <td></td>
                <td><input type="password" name="pass"></td>
            </tr>
        </table>
        <input type="submit" name="Submit" value="Submit">
    </form>
    </div>
    {% if Error %}
    <div>
        {{ Error }}
    </div>
    {% endif %}
    {% if participant %}
    <br/>
    <div class="Form">
        <h4>EventName: {{ EventName }}</h4>
        <hr/>
        <table cellpadding="5" cellspacing="5">
            <tr>
                <th>
                    <label>Name</label>
                </th>
                <th>
                    <label>ContactNo</label>
                </th>
                <th>
                    <label>Email</label>
                </th>
                <th>
                    <label>Registration Type</label>
                </th>
                <th>
                    <label>No Of People</label>
                </th>
            </tr>
            {% for p in participant %}
            <tr>
                <td>
                    {{ p.Name }}
                </td>
                <td>
                    {{ p.ContactNo }}
                </td>
                <td>
                    {{ p.Email }}
                </td>
                <td>
                    {{ p.RegType }}
                </td>
                <td>
                    {{ p.NoOfPeople }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}